
<div class="screen-small">
    <h1>Please spread the window out</h1>
</div>

<!--MOBILE SIDEBAR                                      MOBILE SIDEBAR-->
<div *ngIf="mobileOn" id="MobileSidebar" class="ui sidebar inverted vertical icon menu overlay">
    <a class="item menuitem" (click)="GoToProjects()" style="margin-top: 8rem;
    border-top: 1px solid grey;">
        <i class="block layout icon"></i>
        <span class="icon-title">Projects</span>
    </a>
    <a class="item menuitem" (click)="GoToResume()">
        <i class="file pdf outline icon"></i>
        <span class="icon-title">Resume</span>
    </a>
    <a class="item menuitem" (click)="GoToGithub()">
        <i class="github icon"></i>
        <span class="icon-title">Github</span>
    </a>
    <a class="item menuitem" (click)="GoToAwards()">
        <i class="trophy icon"></i>
        <span class="icon-title">Awards</span>
    </a>
</div>
<div class="pusher">

<div class="home-container">


    <!--TOP CONTAINER BACKGROUND            TOP CONTAINER BACKGROUND-->
    <div class="empty-container-background">

    </div>

    <!--MENU BUTTON FPOR MOBILE APPLICATION-->
    <div class="menu-circle" *ngIf="mobileOn">
        <i id="menu-button" class="ui circular content icon" (click)="ToggleMenu()"></i>
    </div>

    <!--THESE ARE THE VIDEO LINKS-->
    <!--<div class="ui 4:3 embed" data-source="youtube" data-id="HTZudKi36bo" data-placeholder="assets/img/empty.jpg">-->
    <!--</div>-->
    <!--<div class="ui embed" data-url="https://www.youtube.com/embed/O6Xo21L0ybE" data-placeholder="assets/img/empty.jpg"></div>-->
    <!--$('.ui.embed').embed();-->


    <!--STARTING CIRCLE             STARTING CIRCLE-->
    <div class="starting-circle">
        <!--MAIN PROFILE IMG                MAIN PROFILE IMG-->
        <div class="profile-img">
            <img src="assets/img/profile_pic.png">
        </div>
        <!--BASIC INFO          BASIC INFO-->
        <div class="basic-info" *ngIf="mobileOn">
            <h1 class="student-text">Victor Le</h1>
            <h3 class="developer-text">Student Developer</h3>
        </div>
        <div class="list-container" *ngIf="!mobileOn">
            <!--Check if the app is not on the mobile-->
            <ul>
                <li (click)="GoToProjects()" class="main-list"><i class="inverted block layout icon"></i><br/><span class="icontext">Projects</span></li>
                <li (click)="GoToResume()" class="main-list"><i class="inverted file pdf outline icon"></i><br/><span class="icontext">Resume</span></li>
                <li (click)="GoToGithub()"  class="main-list"><i class="inverted github icon"></i><br/><span class="icontext">Github</span></li>
                <li (click)="GoToAwards()"  class="main-list"><i class="inverted trophy icon"></i><br/><span class="icontext">Awards</span></li>
            </ul>
        </div>
    </div>

    <router-outlet></router-outlet>
</div>
    <!-- Site content !-->

</div>


