<div class="projects-container">
<!--BROWSER CONTENT                         BROWSER CONTENT-->
    <div id="browser-project">
        <!--FIRST ROW                               FIRST ROW-->
        <div id="first-row-project" class="ui grid centered container">




            <!--CARD 1                  CARD 1-->
            <div class="four wide column">
                <div class="ui special cards">
                    <div class="ui raised link card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button" (click)="GoToSingleAppPage('fitness-strong')">View Project</div>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/projects/fitness_strong/fitness_strong_min.gif">
                            <!--<div class="ui black ribbon label">-->
                                <!--App Store | Google Play-->
                            <!--</div>-->
                        </div>
                        <div class="content">
                            <a class="header">Fitness Strongs</a>
                            <div class="meta">
                                <span class="date">Created July 2016</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui mini label">Angular2</div>
                            <div class="ui mini label">Ionic2</div>
                            <div class="ui mini label">jQueryUI</div>
                        </div>
                    </div>
                </div>
            </div>





            <!--CARD 2                  CARD 2-->
            <div class="four wide column">
                <div class="ui special cards">
                    <div class="ui raised link card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button" (click)="GoToSingleAppPage('wowvid')">View Project</div>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/projects/wowvid/wowvid.gif">
                            <a class="ui red right corner label">
                                <i class="youtube play icon"></i>
                            </a>
                        </div>
                        <div class="content">
                            <a class="header">WowVid</a>
                            <div class="meta">
                                <span class="date">Created Feb 2017</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui mini label">Angular2</div>
                            <div class="ui mini label">Ionic2</div>
                        </div>
                    </div>
                </div>
            </div>






            <!--CARD 3                  CARD 3-->
            <div class="four wide column">
                <div class="ui special cards">
                    <div class="ui raised link card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button" (click)="GoToSingleAppPage('doublecheck')">View Project</div>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/projects/doublecheck/doublecheck.gif">
                            <a class="ui red right corner label">
                                <i class="youtube play icon"></i>
                            </a>
                        </div>
                        <div class="content">
                            <a class="header">Double Check</a>
                            <div class="meta">
                                <span class="date">Create Nov 2016</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui mini label">Angular2</div>
                            <div class="ui mini label">Ionic2</div>
                            <div class="ui mini label">ES6</div>
                            <div class="ui mini label">GSAP</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <!--SECOND ROW                               SECOND ROW-->
        <div id="second-row-project" class="ui grid centered container">






            <!--CARD 4                  CARD 4-->
            <div class="four wide column">
                <div class="ui special cards">
                    <div class="ui raised link card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button" (click)="GoToSingleAppPage('phresh-food')">View Project</div>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/projects/phresh_food/phresh_main_min.gif">
                            <!--<div class="ui black ribbon label">-->
                            <!--App Store-->
                            <!--</div>-->
                        </div>
                        <div class="content">
                            <a class="header">Phresh Food</a>
                            <div class="meta">
                                <span class="date">Created September 2016</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui mini label">Angular2</div>
                            <div class="ui mini label">Ionic2</div>
                        </div>
                    </div>
                </div>
            </div>




            <!--CARD 5                  CARD 5-->
            <div class="four wide column">
                <div class="ui special cards">
                    <div class="ui raised link card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button" (click)="GoToSingleAppPage('perfectgift')">View Project</div>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/projects/perfectgift/perfectgift.gif">
                            <a class="ui red right corner label">
                                <i class="youtube play icon"></i>
                            </a>
                        </div>
                        <div class="content">
                            <a class="header">Perfect Gift</a>
                            <div class="meta">
                                <span class="date">Created January 2017</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui mini label">Typescript</div>
                            <div class="ui mini label">ES6</div>
                            <div class="ui mini label">Userscript</div>
                        </div>
                    </div>
                </div>
            </div>





            <!--CARD 6                  CARD 6-->
            <div class="four wide column">
                <div class="ui special cards">
                    <div class="ui raised link card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button" (click)="GoToSingleAppPage('alexaux')">View Project</div>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/projects/alexaux/alexaux_min.gif">
                            <a class="ui red right corner label">
                                <i class="youtube play icon"></i>
                            </a>
                        </div>
                        <div class="content">
                            <a class="header">AlexaUX</a>
                            <div class="meta">
                                <span class="date">Created October 2016</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui mini label">Angular2</div>
                            <div class="ui mini label">GSAP</div>
                            <div class="ui mini label">Nodejs</div>
                        </div>
                    </div>
                </div>
            </div>
        <h4 class="ui horizontal divider header" style="color: #ccc;margin: 0;">
            <i class="inverted block layout icon" style="color: #ccc"></i>
            Projects
        </h4>
        </div>
    </div>











<!--MOBILE CONTENT                                  MOBILE CONTENT-->
    <div id="mobile-project">
        <div class="ui two column centered grid" style="margin-top: 7rem;">
            <div class="column">
                <div class="ui card" #card1>
                    <div class="img-overlay" #overlay1></div>
                    <div class="img-container" #imgContainer1>
                        <h1 class="img-text-message">Fitness Strong</h1>
                        <button class="positive ui button img-button" (click)="GoToSingleAppPage('fitness-strong')">View</button>
                    </div>
                        <img class="myimg" (click)="PreviewApp(overlay1, imgContainer1)" src="assets/img/projects/fitness_strong/fitness_strong_min.gif">
                </div>
            </div>
            <div class="column">
                <div class="ui card">
                    <div class="img-overlay" #overlay2></div>
                    <div class="img-container" #imgContainer2>
                        <h1 class="img-text-message">WowVid</h1>
                        <button class="positive ui button img-button" (click)="GoToSingleAppPage('wowvid')">View</button>
                    </div>
                    <img class="myimg" (click)="PreviewApp(overlay2, imgContainer2)" src="assets/img/projects/wowvid/wowvid.gif">
                </div>
            </div>
        </div>

        <div class="ui two column centered grid">
            <div class="column">
                <div class="ui card">
                    <div class="img-overlay" #overlay3></div>
                    <div class="img-container" #imgContainer3>
                        <h1 class="img-text-message">Perfect Gift</h1>
                        <button class="positive ui button img-button" (click)="GoToSingleAppPage('perfectgift')">View</button>
                    </div>
                    <img class="myimg" (click)="PreviewApp(overlay3, imgContainer3)" src="assets/img/projects/perfectgift/perfectgift.gif">
                </div>
            </div>
            <div class="column">
                <div class="ui card">
                    <div class="img-overlay" #overlay4></div>
                    <div class="img-container" #imgContainer4>
                        <h1 class="img-text-message">Double Check</h1>
                        <button class="positive ui button img-button" (click)="GoToSingleAppPage('doublecheck')">View</button>
                    </div>
                    <img class="myimg" (click)="PreviewApp(overlay4, imgContainer4)"  src="assets/img/projects/doublecheck/doublecheck.gif">
                </div>
            </div>
        </div>


        <div class="ui two column centered grid">
            <div class="column">
                <div class="ui card">
                    <div class="img-overlay" #overlay5></div>
                    <div class="img-container" #imgContainer5>
                        <h1 class="img-text-message">PhreshFood</h1>
                        <button class="positive ui button img-button" (click)="GoToSingleAppPage('phresh-food')">View</button>
                    </div>
                    <img class="myimg" (click)="PreviewApp(overlay5, imgContainer5)" src="assets/img/projects/phresh_food/phresh_main_min.gif">
                </div>
            </div>
            <div class="column">
                <div class="ui card">
                    <div class="img-overlay" #overlay6></div>
                    <div class="img-container" #imgContainer6>
                        <h1 class="img-text-message">AlexaUx</h1>
                        <button class="positive ui button img-button" (click)="GoToSingleAppPage('alexaux')">View</button>
                    </div>
                    <img class="myimg" (click)="PreviewApp(overlay6, imgContainer6)" src="assets/img/projects/alexaux/alexaux_min.gif">
                </div>
            </div>
        </div>
    </div>




</div>