<div class="projects-container">
<!--BROWSER CONTENT                         BROWSER CONTENT-->
    <div id="browser-project">
        <!--FIRST ROW                               FIRST ROW-->
        <div id="first-row-project" class="ui grid centered container">
            <!--CARD 1                  CARD 1-->
            <div class="four wide column">
                <div class="ui special cards">
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">View Project</div>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/fitness.jpg">
                        </div>
                        <div class="content">
                            <a class="header">Fitness Strong</a>
                            <div class="meta">
                                <span class="date">Create in Sep 2014</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                2 Members
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--CARD 2                  CARD 2-->
            <div class="four wide column">
                <div class="ui special cards">
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">View Project</div>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/phreshfood.jpg">
                        </div>
                        <div class="content">
                            <a class="header">Phresh Food</a>
                            <div class="meta">
                                <span class="date">Create in Sep 2014</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                2 Members
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--CARD 3                  CARD 3-->
            <div class="four wide column">
                <div class="ui special cards">
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">View Project</div>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/safedrive.jpg">
                        </div>
                        <div class="content">
                            <a class="header">Safe Drive</a>
                            <div class="meta">
                                <span class="date">Create in Sep 2014</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                2 Members
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--SECOND ROW                               SECOND ROW-->
        <div id="second-row-project" class="ui grid centered container">
            <!--CARD 4                  CARD 4-->
            <div class="four wide column">
                <div class="ui special cards">
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">View Project</div>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/dayplanner.jpg">
                        </div>
                        <div class="content">
                            <a class="header">Day Planner Assistant</a>
                            <div class="meta">
                                <span class="date">Create in Sep 2014</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                2 Members
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--CARD 5                  CARD 5-->
            <div class="four wide column">
                <div class="ui special cards">
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">View Project</div>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/foodai.jpg">
                        </div>
                        <div class="content">
                            <a class="header">Foodai</a>
                            <div class="meta">
                                <span class="date">Create in Sep 2014</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                2 Members
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!--CARD 6                  CARD 6-->
            <div class="four wide column">
                <div class="ui special cards">
                    <div class="card">
                        <div class="blurring dimmable image">
                            <div class="ui dimmer">
                                <div class="content">
                                    <div class="center">
                                        <div class="ui inverted button">View Project</div>
                                    </div>
                                </div>
                            </div>
                            <img src="assets/img/alexaux.jpg">
                        </div>
                        <div class="content">
                            <a class="header">AlexaUX</a>
                            <div class="meta">
                                <span class="date">Create in Sep 2014</span>
                            </div>
                        </div>
                        <div class="extra content">
                            <a>
                                <i class="users icon"></i>
                                2 Members
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>











<!--MOBILE CONTENT                                  MOBILE CONTENT-->
    <div id="mobile-project">

        <!--MOBILE CONTAINER ROW 1                                   MOBILE CONTAINER ROW 1-->
        <div class="ui grid centered container grid-mobile-container">
            <!--FIRST APP                       FIRST APP-->
            <div class="eight wide column mobile-column">
                <div class="img-overlay" #overlay1></div>
                <div class="img-container" #imgContainer1>
                    <h1 class="img-text-message">Fitness Strong</h1>
                    <button class="positive ui button img-button">Info</button>
                </div>
                <img #fitness class="mobile-project-img" (click)="PreviewApp(overlay1, imgContainer1)" src="assets/img/fitness.jpg">
            </div>
            <!--SECOND APP                       SECOND APP-->
            <div class="eight wide column mobile-column">
                <div class="img-overlay" #overlay2></div>
                <div class="img-container" #imgContainer2>
                    <h1 class="img-text-message">AlexaUX</h1>
                    <button class="positive ui button img-button">Info</button>
                </div>
                <img class="mobile-project-img" (click)="PreviewApp(overlay2, imgContainer2)" src="assets/img/alexaux.jpg">
            </div>
        </div>
        <!--MOBILE CONTAINER ROW 2                                   MOBILE CONTAINER ROW 2-->
        <div class="ui grid centered container grid-mobile-container">
            <!--THIRD APP                       THIRD APP-->
            <div class="eight wide column mobile-column">
                <div class="img-overlay" #overlay3></div>
                <div class="img-container" #imgContainer3>
                    <h1 class="img-text-message">Day Planner Assistant</h1>
                    <button class="positive ui button img-button">Info</button>
                </div>
                <img class="mobile-project-img" (click)="PreviewApp(overlay3, imgContainer3)" src="assets/img/dayplanner.jpg">
            </div>
            <!--FOURTH APP                       FOURTH APP-->
            <div class="eight wide column mobile-column">
                <div class="img-overlay" #overlay4></div>
                <div class="img-container" #imgContainer4>
                    <h1 class="img-text-message">Foodai</h1>
                    <button class="positive ui button img-button">Info</button>
                </div>
                <img class="mobile-project-img" (click)="PreviewApp(overlay4, imgContainer4)" src="assets/img/foodai.jpg">
            </div>
        </div>
        <!--MOBILE CONTAINER ROW 3                                   MOBILE CONTAINER ROW 3-->
        <div class="ui grid centered container grid-mobile-container">
            <!--FIFTH APP                       FIFTH APP-->
            <div class="eight wide column mobile-column">
                <div class="img-overlay" #overlay5></div>
                <div class="img-container" #imgContainer5>
                    <h1 class="img-text-message">Safe Drive</h1>
                    <button class="positive ui button img-button">Info</button>
                </div>
                <img class="mobile-project-img" (click)="PreviewApp(overlay5,  imgContainer5)" src="assets/img/safedrive.jpg">
            </div>
            <!--SIXTH APP                       SIXTH APP-->
            <div class="eight wide column mobile-column">
                <div class="img-overlay" #overlay6></div>
                <div class="img-container" #imgContainer6>
                    <h1 class="img-text-message">Phresh Food</h1>
                    <button class="positive ui button img-button">Info</button>
                </div>
                <img class="mobile-project-img" (click)="PreviewApp(overlay6, imgContainer6)" src="assets/img/phreshfood.jpg">
            </div>
        </div>



    </div>




</div>