<div class="projects-container" style="position: absolute">

    <!--FIRST ROW                               FIRST ROW-->
    <div id="first-row-project" class="ui grid centered container">
        <!--CARD 1                  CARD 1-->
        <div class="four wide column">
            <div class="ui special cards">
                <div class="card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">View Project</div>
                                </div>
                            </div>
                        </div>
                        <img src="assets/img/empty.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Team Fu</a>
                        <div class="meta">
                            <span class="date">Create in Sep 2014</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="users icon"></i>
                            2 Members
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--CARD 2                  CARD 2-->
        <div class="four wide column">
            <div class="ui special cards">
                <div class="card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">View Project</div>
                                </div>
                            </div>
                        </div>
                        <img src="assets/img/empty.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Team Fu</a>
                        <div class="meta">
                            <span class="date">Create in Sep 2014</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="users icon"></i>
                            2 Members
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--CARD 3                  CARD 3-->
        <div class="four wide column">
            <div class="ui special cards">
                <div class="card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">View Project</div>
                                </div>
                            </div>
                        </div>
                        <img src="assets/img/empty.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Team Fu</a>
                        <div class="meta">
                            <span class="date">Create in Sep 2014</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="users icon"></i>
                            2 Members
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--SECOND ROW                               SECOND ROW-->
    <div id="second-row-project" class="ui grid centered container">
        <!--CARD 4                  CARD 4-->
        <div class="four wide column">
            <div class="ui special cards">
                <div class="card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">View Project</div>
                                </div>
                            </div>
                        </div>
                        <img src="assets/img/empty.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Team Fu</a>
                        <div class="meta">
                            <span class="date">Create in Sep 2014</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="users icon"></i>
                            2 Members
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--CARD 5                  CARD 5-->
        <div class="four wide column">
            <div class="ui special cards">
                <div class="card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">View Project</div>
                                </div>
                            </div>
                        </div>
                        <img src="assets/img/empty.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Team Fu</a>
                        <div class="meta">
                            <span class="date">Create in Sep 2014</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="users icon"></i>
                            2 Members
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!--CARD 6                  CARD 6-->
        <div class="four wide column">
            <div class="ui special cards">
                <div class="card">
                    <div class="blurring dimmable image">
                        <div class="ui dimmer">
                            <div class="content">
                                <div class="center">
                                    <div class="ui inverted button">View Project</div>
                                </div>
                            </div>
                        </div>
                        <img src="assets/img/empty.jpg">
                    </div>
                    <div class="content">
                        <a class="header">Team Fu</a>
                        <div class="meta">
                            <span class="date">Create in Sep 2014</span>
                        </div>
                    </div>
                    <div class="extra content">
                        <a>
                            <i class="users icon"></i>
                            2 Members
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>