/*FULL1*/
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

@media (min-width: 1524px) {

    /*MAIN CONTAINEr*/
    .project-single-container{
        width: 100%;
        height: 100%;
        top: 1%;
        position: absolute;
    }

    /*#iframe-video{*/
        /*font-size: 1rem;*/
        /*top: 21%;*/
        /*width: 36%;*/
        /*left: 26%;*/
    /*}*/

    #video-container{
        border-top: 4px solid #21BA45;
        position: absolute;
        top: -5%;
        left: 16%;
    }

    /*MENU BAR*/
    #web_menu{
        top: 15%;
        position: absolute;
        left: 42%;
    }

    #no-video-tag{
        font-size: 4rem;
        top: 10%;
        position: absolute;
        left: 35%;
        width: 100%;
        color: #ccc;
    }

    /*Small Box on the About page*/
    .browser-desc-segment{
        font-size: 1rem;
        top: 25%;
        width: 36%;
        left: 22%;
        position: absolute;
        height: 31rem;
        text-align: center;
        border: 0;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0);
        background: transparent;
    }

    /*Iphone main cover*/
    .single-main-img{
        transform: scale(0.65);
        position: absolute;
        top: 0%;
        right: 12%;
    }

    .second-main-img{
        position: absolute;
        top: 30%;
        right: 20%;
    }

    .alexa-main-img{
        position: absolute;
        top: 26%;
        right: 9%;
    }

    .teamup-main-img{
        transform: scale(.60);
        position: absolute;
        top: 21%;
        right: 5%;
    }

    .baymax-main-logo{
        transform: scale(.55);
        position: absolute;
        top: 0;
        right: 1%;
    }

    /*Store Icon Container*/
    .store-icon{
        transform: scale(.15);
        position: absolute;
        /* bottom: -14%; */
        /* width: 100%; */
        /* height: 100%; */
        /* left: -1%; */
        bottom: -13%;
        left: -30%;
    }

    .store-icon > .row{
        display: inline-flex;
    }

    .store-icon-individual{

    }

    p, h1{
        font-family: 'Titillium Web', sans-serif;
    }

    p{
        padding-top: 8rem;
        font-size: 1.5rem;
        font-weight: 900;
        color: #696969;
    }

    h1{
        font-weight: 900;
        font-size: 4rem;
    }

}

@media (min-width: 1024px) and (max-width: 1523px) {

    /*MAIN CONTAINEr*/
    .project-single-container{
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
    }

    /*Browser Container*/
    .project-single-browser-container{
        height: 100%;
        position: relative;
    }

    #no-video-tag{
        font-size: 4rem;
        top: 10%;
        position: absolute;
        left: 41%;
        width: 100%;
        color: #ccc;
    }

    /*MENU BAR*/
    #web_menu{
        top: 15%;
        position: absolute;
        left: 42%;
    }

    /*Small Box on the About page*/
    .browser-desc-segment{
        font-size: 1rem;
        top: 25%;
        width: 36%;
        left: 22%;
        position: absolute;
        height: 31rem;
        text-align: center;
        border: 0;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0);
        background: transparent;
    }

    /*Iphone main cover*/
    .single-main-img{
        transform: scale(0.55);
        position: absolute;
        top: 0%;
        right: 8%;
    }

    .second-main-img{
        position: absolute;
        top: 30%;
        right: 5%;
    }

    .alexa-main-img{
        position: absolute;
        top: 26%;
        right: -10%;
    }

    .teamup-main-img{
        transform: scale(.60);
        position: absolute;
        top: 21%;
        right: -10%;
    }

    .baymax-main-logo{
        transform: scale(.55);
        position: absolute;
        top: 0;
        right: -18%;
    }



    /*Store Icon Container*/
    .store-icon{
        /*transform: scale(0.15);*/
        /*position: absolute;*/
        /*bottom: -14%;*/
        /*width: 100%;*/
        transform: scale(.15);
        position: absolute;
        /* bottom: -14%; */
        /* width: 100%; */
        /* height: 100%; */
        /* left: -1%; */
        bottom: -13%;
        left: -46%;
    }

    .store-icon > .row{
        display: inline-flex;
    }

    .store-icon-individual{

    }

    p, h1{
        font-family: 'Titillium Web', sans-serif;
    }

    p{
        padding-top: 8rem;
        font-size: 1.5rem;
        font-weight: 900;
        color: #696969;
    }

    h1{
        font-weight: 900;
        font-size: 4rem;
    }


}

/*MEDIUM1*/
@media (min-width: 737px) and (max-width: 1023px) {
    /*MAIN CONTAINEr*/
    .project-single-container{
        width: 100%;
        height: 100%;
        top: 0;
        position: absolute;
    }

    /*Browser Container*/
    .project-single-browser-container{
        height: 100%;
        position: relative;
    }

    /*MENU BAR*/
    #web_menu{
        top: 15%;
        position: inherit;
    }

    #no-video-tag{
        font-size: 4rem;
        top: 10%;
        position: absolute;
        left: 41%;
        width: 100%;
        color: #ccc;
    }

    /*Small Box on the About page*/
    .browser-desc-segment{
        font-size: 1rem;
        top: 25%;
        width: 50%;
        left: 4%;
        position: absolute;
        height: 31rem;
        text-align: center;
        border: 0;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0);
        background: transparent;
    }

    /*Iphone main cover*/
    .single-main-img{
        transform: scale(0.55);
        position: absolute;
        top: 0%;
        right: -4%;
    }

    /*Safe Drive*/
    .second-main-img{
        position: absolute;
        top: 30%;
        right: 6%;
    }

    /*ALEXA*/
    .alexa-main-img{
        position: absolute;
        top: 26%;
        right: -13%;
    }

    /*TEAMUP*/
    .teamup-main-img{
        transform: scale(.60);
        position: absolute;
        top: 21%;
        right: -11%;
    }

    /*BAYMAX*/
    .baymax-main-logo{
        transform: scale(.55);
        position: absolute;
        top: 0;
        right: -18%;
    }



    /*Store Icon Container*/
    .store-icon{
        /*transform: scale(0.15);*/
        /*position: absolute;*/
        /*bottom: -14%;*/
        /*width: 100%;*/
        /*left: -12%;*/
        transform: scale(.15);
        position: absolute;
        /* bottom: -14%; */
        /* width: 100%; */
        /* height: 100%; */
        /* left: -1%; */
        bottom: -13%;
        left: -96%;
    }

    .store-icon > .row{
        display: inline-flex;
    }

    .store-icon-individual{

    }

    p, h1{
        font-family: 'Titillium Web', sans-serif;
    }

    p{
        padding-top: 8rem;
        font-size: 1.5rem;
        font-weight: 900;
        color: #696969;
    }

    h1{
        font-weight: 900;
        font-size: 4rem;
    }
}


/*MOBILE1*/
@media (min-width: 310px) and (max-width: 736px) {


    /*MAIN CONTAINEr*/
    .project-single-container{
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        top: 15%;
    }

    /*Mobile Container*/
    .project-single-mobile-container{
        width: 100%;
        position: relative;
        /*height: 100%;*/
        text-align: center;
        top: 8rem;
    }


    /*BACK button*/
    .back-circle{
        top: 1rem;
        position: relative;
        font-size: 37px;
        text-align: left;
    }

    /*CHnage the size of the tabs*/
    .menu > .item{
        font-size: 1rem;
    }

    .ui.tab.segment{
        margin: 0;
        background-color: #E9EBEE;
    }

    .ui.pointing.secondary.menu{
        margin-bottom: 0;
    }


    /*EVERYTHING UNDER*/

    p, h1{
        font-family: 'Titillium Web', sans-serif;
    }

    .single-main-img{
        transform: scale(0.3);
        position: absolute;
        z-index: 1;
        top: -3%;
        left: -34%;
    }

    .ui.segment{
        height: 100%;
    }

    iframe{
        transform: scale(0.8);
        position: inherit;
        left: -16%;
        top: 6%;
    }




}