<div class="home-container">


    <!--STARTING CIRCLE             STARTING CIRCLE-->
    <div class="starting-circle">
        <div class="profile-img">
            <img src="assets/img/profile_pic.png">
        </div>

        <div class="list-container">
            <ul>
                <li class="main-list"><i class="inverted block layout icon"></i></li>
                <li class="main-list"><i class="inverted file pdf outline icon"></i></li>
                <li class="main-list"><i class="inverted github icon"></i></li>
                <li class="main-list"><i class="inverted trophy icon"></i></li>
            </ul>
        </div>
    </div>

</div>