
.home-container{
    width: 100%;
    height: 100%;
}

/*****************************/
/*When Screen size changes*/
/*****************************/

@media (min-width: 1024px) {

    .home-container{
        background-color: blue;
    }
}
@media (min-width: 768px) and (max-width: 1023px) {

    .home-container{
        background-color: red;
    }
}
@media (min-width: 320px) and (max-width: 767px) {

    .home-container{
        background-color: #ccc;
    }

}


