@media (min-width: 310px) and (max-width: 736px) {
    .projects-container{
        /*position: absolute;*/
        width: 100%;
        height: 100%;
        overflow: auto;
        top: 15%;
    }

    .ui.card>.image:not(.ui)>img, .ui.cards>.card>.image:not(.ui)>img {
        box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
    }

    #mobile-project{
        width: 100%;
        position: relative;
        height: 100%;
        text-align: center;
    }

    .profile-img{
        z-index: 5 !important;
    }

    /*.mobile-project-img{*/
        /*margin: 0 !important;*/
        /*height: 28% !important;*/
    /*}*/

    /*.ui.images{*/
     /*margin: 0;*/
    /*}*/

    /*.mobile-column{*/
        /*padding-bottom: 0rem!important;*/
        /*padding-top: 0 !important;*/
        /*margin-bottom: -0.02rem!important;*/
    /*}*/

    /*.grid-mobile-container{*/
        /*margin-left: 0!important;*/
         /*margin-right: 1rem!important;*/
    /*}*/

    .ui.grid > *{
        padding-left: 0;
        padding-right: 0;
    }



    .img-overlay{
        position: absolute;
        background: rgba(0,0,0,0.5);
        height: 100%;
        width: 100%;
        z-index: 1;
        display: none;
    }

    .img-container{
        position: absolute;
        color: #FFF;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
    }

    .img-button{
        position: absolute;
        top: 59%;
        left: 32%;
    }

    .img-text-message{
        position: absolute;
        top: 30%;
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
    }



    /*NEW ONE*/

    .myimg{
        height: 11rem !important;
    }


    .mobile-project-img{
        margin: 0 !important;
        height: 100%;
        width: 82%;
    }

    .ui.equal.width.grid{
        height: 12rem;
        margin: 1rem !important;
    }


    .ui.card{
        max-width: 82% !important;
    }

    .ui.two.column.centered.grid{
        margin: 0;
    }

    .ui.two.column.centered.grid > .column{
        margin: 0;
        left: 4%;
        text-align: center;
        top: 3rem;
        position: relative;
        padding: 0;
        padding-bottom: 1rem;
    }

}