@media (min-width: 1024px) {
    .home-container{
        background-color: #FFF;
    }
    .icontext{
        opacity: 0;
        font-size: 0.9rem;
        font-weight: bolder;
    }

    ul{
        font-size: 2.5rem;
        display: inline-flex;
    }
    .starting-circle{
        text-align: center;
        width: 100%;
        /*top: 23%;*/
        height: 100%;
        position: absolute;
    }

    .starting-circle > .profile-img{
        position: relative;
        top: 23%;
    }

    .starting-circle > .list-container{
        top: 23%;
    }

    .starting-circle > .profile-img > img{
        border-radius: 100%;
        width: 305px;
        height: 326px;
        box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    }

    .main-list{
        display: initial;
        padding-right: 1.7rem;
    }

    .main-list > i {
        color: #000;

    }


    .main-list > i:hover {
        -webkit-transform: scale(1.50);
        -moz-transform: scale(1.50);
        -o-transform: scale(1.50);
        transform: scale(1.50);
        cursor: pointer;
    }

    .main-list > i:hover + br + .icontext {
        opacity: 1;
    }
}