@import url('https://fonts.googleapis.com/css?family=Righteous');
@media (min-width: 310px) and (max-width: 736px) {
    .home-container{
        display: none;
        position:fixed;
    }

    html{
        background: #f4f4f4 !important;
    }

    .screen-small{
        text-align: center;
        color: red;
        position: absolute;
        top: 40%;
        width: 100%;
    }

    .student-text{
        font-family: 'Righteous', cursive;
        color: #0090D2;
        font-size: 3rem;
        letter-spacing: 6px;
        position: relative;
        left: 4%;
        margin-bottom: 0;
        margin-top: 10%;
    }

    .empty-container-background{
        width: 100%;
        height: 17%;
        /*background-color: red;*/
        position: absolute;
        display: none;
        -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);

        background: url('./assets/img/profile_background.png');
        background-size: cover;

        /*background: rgba(255,69,56,1);*/
        /*background: -moz-linear-gradient(45deg, rgba(255,69,56,1) 0%, rgba(255,28,20,1) 30%, rgba(255,100,92,1) 51%, rgba(255,33,26,1) 77%, rgba(255,31,31,1) 100%);*/
        /*!*background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255,69,56,1)), color-stop(30%, rgba(255,28,20,1)), color-stop(51%, rgba(255,100,92,1)), color-stop(77%, rgba(255,33,26,1)), color-stop(100%, rgba(255,31,31,1)));*!*/
        /*background: -webkit-linear-gradient(45deg, rgba(255,69,56,1) 0%, rgba(255,28,20,1) 30%, rgba(255,100,92,1) 51%, rgba(255,33,26,1) 77%, rgba(255,31,31,1) 100%);*/
        /*background: -o-linear-gradient(45deg, rgba(255,69,56,1) 0%, rgba(255,28,20,1) 30%, rgba(255,100,92,1) 51%, rgba(255,33,26,1) 77%, rgba(255,31,31,1) 100%);*/
        /*background: -ms-linear-gradient(45deg, rgba(255,69,56,1) 0%, rgba(255,28,20,1) 30%, rgba(255,100,92,1) 51%, rgba(255,33,26,1) 77%, rgba(255,31,31,1) 100%);*/
        /*background: linear-gradient(45deg, rgba(255,69,56,1) 0%, rgba(255,28,20,1) 30%, rgba(255,100,92,1) 51%, rgba(255,33,26,1) 77%, rgba(255,31,31,1) 100%);*/
        /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4538', endColorstr='#ff1f1f', GradientType=1 );*/

    }

    .developer-text{
        font-family: 'Righteous', cursive;
        color: #E0082D;
        font-size: 1.5rem;
        letter-spacing: 6px;
        margin-top: 0;
        position: relative;
        left: 4%;
    }

    .empty-container-background{
        z-index: 1;
    }

    #menu-button{
        background-color: #E0082D !important;
        color: #FFF;
        margin: 0;
        position: absolute;
        top: 5%;
        font-size: 1.8em;

        -webkit-box-shadow: 1px 5px 6px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 1px 5px 6px -1px rgba(0,0,0,0.75);
        box-shadow: 1px 5px 6px -1px rgba(0,0,0,0.75);

    }

    #menu-button:after{
        left: 5% ;
    }

    .item.menuitem{
        /*font-size: 2rem;*/
        padding: 1rem;
    }

    .item.menuitem > i {
        font-size: 4rem;
    }

    .icon-title{
        font-size: 1rem;
    }

    .icontext{
        opacity: 0;
        font-size: 0.9rem;
        font-weight: bolder;
    }

    #MobileSidebar{
        z-index: 1000;
        background-color: rgba(0,0,0,0.7);
    }

    .text-router-desc{
        position: absolute;
        right: 12%;
        color: #FFF;
        top: 6%;
    }

    ul{
        font-size: 2.5rem;
        display: inline-flex;
    }
    .starting-circle{
        position: absolute;
        text-align: center;
        width: 100%;
        top: 17%;
    }
    .starting-circle > .profile-img > img{
        border-radius: 100%;
        width: 305px;
        height: 326px;
        box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.75);
    }

    .profile-img{
        z-index: 2 !important;
    }

    .main-list{
        display: initial;
        padding-right: 1.7rem;
    }

    .main-list > i {
        color: #000;

    }


    .main-list > i:hover {
        -webkit-transform: scale(1.50);
        -moz-transform: scale(1.50);
        -o-transform: scale(1.50);
        transform: scale(1.50);
        cursor: pointer;
    }

    .main-list > i:hover + br + .icontext {
        opacity: 1;
    }
}