<div class="project-single-container">


    <img [class]="WhatPicture" [src]='Project.main_cover_picture' *ngIf="!this.mobileChecker">

    <div class="store-icon" *ngIf="!this.mobileChecker">
        <div class="row">
            <img style="padding-right: 14rem;" class="store-icon-individual" src="assets/img/extra/apple-store.png">
            <img class="store-icon-individual" src="assets/img/extra/google-play.png">
        </div>
    </div>


    <!--MOBILE          MOBILE              MOBILE              MOBILE-->
    <div class="project-single-mobile-container">

        <div class="back-circle">
            <i id="menu-button" class="ui arrow left icon" (click)="BackButton()"></i>
        </div>
        <br/>


        <div class="ui pointing secondary menu">
            <a class="active item" data-tab="description" (click)="AnimateTabs(tab1)"><i class="ui info circle icon"></i>Info</a>
            <a class="item" data-tab="photo" (click)="AnimateTabs(tab2)"><i class="ui video play outline icon"></i>Photos</a>
            <a class="item" data-tab="video" (click)="AnimateTabs(tab3)"><i class="ui video play outline icon"></i>Video</a>
            <a class="item" data-tab="developers" (click)="AnimateTabs(tab4)"><i class="ui users icon"></i>Developers</a>
        </div>
        <div class="ui tab segment active" data-tab="description">
            <div #tab1 class="ui segment">
                <h1>{{Project.name}}</h1>

                <p>{{Project.description}}</p>
            </div>
        </div>

        <div class="ui tab segment" data-tab="photo">
            <div #tab2 class="ui segment">
                <h1>Photos</h1>
                <div class="ui small images">
                    <img *ngFor="let i of Project.extra_picture" [src]="i.link">
                </div>
            </div>
        </div>

        <div class="ui tab segment" data-tab="video">
            <div #tab3 class="ui segment">
                <h1>Videos</h1>
                <iframe width="420" height="345" src="https://www.youtube.com/embed/XGSy3_Czz8k" frameborder="0" allowfullscreen>
                </iframe>
            </div>
        </div>

        <div class="ui tab segment" data-tab="developers">
            <div #tab4 class="ui segment">
                <h1>Developers</h1>
            </div>
        </div>



    </div>

    <!--WEB BROWSER     WEB BROWSER         WEB BROWSER         WEB BROWSER-->
    <div class="project-single-browser-container">


        <div class="ui pointing secondary menu" id="web_menu">
            <a class="active item" data-tab="first">About</a>
            <a class="item" data-tab="second" (click)="PictureClicked()">Pictures</a>
            <a class="item" data-tab="third">Video</a>
            <a class="item" data-tab="fourth">Developers</a>
        </div>

        <div class="ui active tab segment browser-desc-segment" data-tab="first">
            <div class="ui centered grid">
                <!--<div class="eight wide column">-->
                    <h1>{{Project.name}}</h1>
                    <p>{{Project.description}}</p>
                <!--</div>-->
                <!--<div class="eight wide column">-->
                    <!--<img class="single-main-img" [src]='Project.main_cover_picture' *ngIf="!this.mobileChecker">-->
                <!--</div>-->
            </div>
        </div>

        <div class="ui tab segment browser-desc-segment" data-tab="second">
            <h1>Pictures</h1>
            <div class="ui tiny images">
                <a class="fancybox" *ngFor="let i of Project.extra_picture" caption="i.desc" rel="group" [href]="i.link"><img [src]="i.link"></a>
            </div>
            <h3>Click to enlarge =]</h3>
        </div>

        <div class="ui tab segment browser-desc-segment" data-tab="third">
            <h1>Video</h1>
        </div>

        <div class="ui tab segment browser-desc-segment" data-tab="fourth">
            <h1>Developers</h1>
        </div>
    </div>





</div>